<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="X-UA-Compatible" content="IE=edge, chrome=1" />
    <!-- TODO: update app title -->
    <title>YOUR_APP_TITLE</title>
    <!-- TODO: add below icons in /public directory -->
    <link rel="shortcut icon" href="/icons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/icons/icon-512-512.png" />
    <link rel="preload" as="style" href="./src/styles.css" />
    <link rel="stylesheet" href="./src/styles.css">
  </head>
  <body>
    <script type="module" src="./src/index.js"></script>
  </body>
</html>
